@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This was made by <strong> Danilo O. Williams</strong> for may final exam. if you are having problems look at my contact page. </p>
