@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Email:</strong>  <p="dwilli102@live.spcollege.edu">dwilli102@live.spcollege.edu</p><br />
    
</address>